

/* PC版だよ */

/* フォントだよ */
a {
  display:block;
}

img {
  display:block;
}

body {
  font-family: 'Lato', sans-serif;
}

.theme-font {
  font-family: 'Raleway', sans-serif;
  font-weight:normal;
}

/* 全体のインナーの指定 */

.inner {
  width:1100px;
  margin:0 auto;
}

/* ヘッダーだよ */

.header-back {
  position:fixed;
  width:100%;
  top:0;
  left:0;
  z-index:1000;
  background-color:white;
}

.header-in {
  display:flex;
  justify-content:space-between;
  padding:15px 0;
}

.fas {
  font-size:50px;
  color:#4e4e4e;
}

.contact-font {
  background-color:#74cfae;
  color:white;
  text-decoration:none;
  height:10px;
  font-size:12px;
  padding:14px 12px;
  transition:all 0.3s;
  cursor:pointer;
}

.contact-font:hover {
  color:#333;
}

/* メインだよ */

.main-back {
  padding-top:80px;
}

.gray-back {
  background-color:#f2f2f2;
}

/* テーマだよ */

.theme {
  text-align:center;
  padding:250px 0;
}

.title {
  font-size:90px;
  font-weight:700;
  list-style:none;
  color:#74cfae;
}

.sub-title {
  font-size:30px;
  color:#c0c0c0;
  list-style:none;
  margin-top:20px;
}

/* グリーンゾーンだよ */
.green-back {
  background-color:#74cfae;
}

.green-contents {
  display:flex;
  padding-top:50px;
}

.green-language {
  color:white;
  width:680px;
  margin-left:150px;
  text-align:center;
}

.green-title {
  font-size:24px;
  margin-bottom:35px;
}

.green-paragraph {
  font-size:20px;
}

/* 写真ゾーンだよ */

.article-all {
  padding:60px 0 70px;
}

.article-all > .article-theme {
  text-align:center;
  font-size:24px;
}

.article-img {
  margin-top:40px;
  display:flex;
  flex-wrap: wrap;
}

.article-img > a {
  opacity:0.7;
  transition:all 0.3s;
  cursor:pointer;
}

.article-img > a:hover {
  opacity:1;
}

.article-img > a {
  margin:100px 0 0 80px;
}

.article-img > a:nth-child(1),.article-img > a:nth-child(4) {
  margin-left:0;
}

.article-img > a:nth-child(-n+3) {
  margin-top:0;
}

/* 写真の下の文章だよ */

.article-bottom {
  display:flex;
  margin:90px auto 0;
  width:700px;
}

.article-bottom > p {
  width:465px;
  text-align:center;
}

.article-bottom > a {
  font-size:12px;
  padding:14px 20px;
  margin-left:90px;
  background-color:#74cfae;
  color:white;
  text-decoration:none;
  white-space: nowrap;
  line-height:24px;
  transition:all 0.3s;
  cursor:pointer;
}

.article-bottom > a:hover {
  color:#333;
}

/* ダークグレーゾーンだよ */

.dark-gray-back {
  background-color:#4e4e4e;
  }

.skill-contents {
  padding:70px 0 100px;
}

.skill-contents > h2 {
  color:white;
  font-size:24px;
  text-align:center;
  }

.skill-img-all {
  display:flex;
  width:1028px;
  margin:50px auto 0;
  }

.skill-img-all > .skill-img:not(:first-child) {
  margin-left:180px;
}

.skill-img-all > .skill-img > p {
  font-size:16px;
  color:white;
  text-align:center;
}

/* SNSだよ */

.sns-all {
  display:flex;
  padding:200px 0;
  width:740px;
}

.sns-one {
  text-align:center;
  width:185px;
  font-size:50px;
  padding:20px 0 25px;
  text-decoration:none;
  color:#74cfae;
  cursor:pointer;
  transition: all  0.3s ;
}

.sns-all > a:hover {
  background-color:white;
}

/* フッターだよ */

.footer-back {
  background-color:#74cfae;
}

.footer-paragraph {
  padding:20px 0 25px;
  font-size:16px;
  color:white;
  text-align:right;
}

/* メディアクエリだよ */

/* タブレット版だよ */
@media (max-width: 1199px) {

/* タブレットメインだよ */

.inner{
  width:97%;
}

/* タブレットグリーン・ゾーンだよ */

  .green-contents {
    display:block;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:25px;
  }

  .iphone-img {
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

  .green-language {
    margin-top:20px;
    width:910px;
    max-width:100%;
/* 変わるかも */


    margin-left:auto;
    margin-right:auto;
  }

/* タブレット写真ゾーンだよ */

  .article-img {
  display:block;
  width:300px;
  margin:0 auto;
  }

.article-img > a {
  display:block;
  margin:0;
}

.article-img > a:nth-child(3n) {
  margin-bottom:80px;
}

  .article-img > a > img {
  display:block;
  /* margin:0 auto; */
  }

  .article-all{
  width:100%;
}

.article-bottom{
  display:block;
  margin:0;
  /* width:800px; */
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
}

/* タブレット写真下の文章だよ */

.article-bottom > p {
  width:800px;
  max-width:100%;

}

.article-bottom > a {
  /* display:block; */
  margin-top:40px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  text-align:center;
  width:92.81px;
  margin:;
}

/* タブレットダークグレーゾーンだよ */

.skill-contents  {
  padding-bottom:88px;
}

.skill-img-all > .skill-img:not(:last-child) {
    margin-right:0;
  }
/* この辺よくわからん */

.skill-img-all{
  display:block;
  width:122px;
}

.skill-img-all > .skill-img:not(:last-child) {
  margin-bottom:88px;
}

.skill-img > img {
  display:block;
}

}


/* スマホ版だよ */
@media (max-width: 767px) {

  /* スマホ版ヘッダーゾーン */

.header-in{
  width:90%;
}



.contact-font{
  display:none;
  }

/* .out-contact-font::after {
  content:"";
  border:1px solid #ddd;
  padding:10px;
  border-radius:4px;
  width:300px;
} */

.hamburger-menu{
  border:1px solid #ddd;
  padding:10px;
  border-radius:4px;
  width:40px;
  height:20px;
}
































/* スマホ版SNSゾーン */

.sns-all{
  display:block;
  max-width:100%;
  margin-top:20px;
  /* margin-bottom:20px; */
  padding-bottom:20px;
}

.sns-all > a{
  margin-left:auto;
  margin-right:auto;
}










}
